.header {
  background-image: url("../../images/pattern-bg.png");
  position: relative;

  padding: 30px;
  height: 200px;
  z-index: 10;
}

.header .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90vw;
  margin: 0 auto;
}

.header .container > h1 {
  color: white;
  font-size: 25px;
  font-family: var(--font);
  text-transform: capitalize;
  font-weight: 500;
}

.header form {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.header form > input {
  padding: 13px 18px;
  border: none;
  width: 220px;
  color: var(--very-dark-gray);
  font-family: var(--font);
}

.header form > input:focus {
  outline: none;
}

.header form > button {
  padding: 13px 15px;
  border: none;
  outline: none;
  background-color: var(--very-dark-gray);
  color: white;
  font-size: 15px;
  cursor: pointer;
}
